<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @(#) log4j2.xml
  ~ 版权声明 厦门畅享信息技术有限公司, 版权所有 违者必究
  ~
  ~ <br> Copyright:  Copyright (c) 2020
  ~ <br> Company:厦门畅享信息技术有限公司
  ~ <br> @author hanjb
  ~ <br> 2020-06-16 16:29:11
  -->

<Configuration>
    <Properties>
        <!-- TODO 请修改 appId 配置 -->
        <Property name="appId" value="smart-campus"/>
        <!-- TODO 请修改 moduleId 配置 -->
        <Property name="moduleId" value="smart-campus"/>
        <Property name="logDir" value="/opt/log"/>
    </Properties>
</Configuration>
