.fieldGroup {
    padding: 10px 10px;
    clear: both;
    overflow: hidden;
    border: 1px solid #ebeced;

    .container {
        :global {
            .btn-default {
                background-color: #fff;
            }
        }
    }

    .buttonFiled {
        float: left;
        width: 240px;
        padding-left: 20px;
        background-color: #f7f8f9;
        :global {
            .row {
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-bottom: 60px;
            }
            .btn-default {
                background-color: #fff;
            }
        }
    }

    .subTitle {
        color: #55585d;
        margin-top: 20px;
    }

    .addBtn {
        color: #09d;
        cursor: pointer;
    }

    .sort {
        padding: 20px 0px 60px 20px;
        width: 240px;
        background-color: #f7f8f9;
    }

    .btn {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 88px;
        height: 20px;
        line-height: 18px;
        margin-right: 20px;
        margin-top: 12px;
    }

    .filterBody {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 20px 20px;
        border: 1px solid #ebeced;
    }

    .sortTitle {
        color: #555;
        font-weight: bolder;
        margin-bottom: 0;
    }

    .sort,
    .filterBox {
        display: table-cell;
        border: 1px solid #ebeced;
    }

    .fieldName {
        display: inline-block;
        width: 305px;
    }

    .filterBox {
        :global {
            .form-table > tbody > tr > th {
                background-color: #fff;
                border: none;
                width: 86px;
            }
            .form-table > tbody > tr > td {
                border: none;
            }
            .labelItem {
                padding: 16px 15px 0 20px !important;
                text-align: left !important;
                width: auto !important;
            }
            .sub-item {
                padding-left: 0 !important;
            }
        }
    }

    .searchBtn {
        width: 72px;
    }

    .selectData {
        margin-top: 4px;
        margin-left: 0 !important;
        margin-right: 1em !important;
        float: left;
        padding: 8px 8px 8px 4px;
        border: 1px solid #ebeced;
        :global {
            .si-com_closethin:before {
                margin-left: 6px;
                color: #a4a5a9;
                vertical-align: baseline;
                cursor: pointer;
            }
            .si-com_sswj1:before {
                display: none;
            }
        }
        > span {
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .label {
        color: #74767a;
    }

    .checkboxGroup {
        :global {
            .checkBox {
                margin-left: 0 !important;
            }
        }
    }

    .renderLabel :global {
        .si-com_sswj1:before {
            color: #0099dd;
            padding-left: 6px;
            vertical-align: baseline;
            font-size: 14px;
        }
    }

    .buttonFiled {
        float: left;
        width: 23%;
    }

    .searchArea {
        float: left;
        width: 70%;
        margin-left: 20px;
        :global {
            .row {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    .fieldGroup {
        display: table !important;
        width: 100%;
        table-layout: fixed;
    }
    .buttonFiled,
    .searchArea {
        display: table-cell;
    }

    .searchLabel {
        margin-right: 8px;
    }
}
