@charset "utf-8";

/* 背景颜色 */
$white-background: #fff;
$gray-background: #f7f8f9;
$red-background: #f00;
$blue-background: #3399ff;
$gray-background: #eee;
$light-background:#d0d1d4;
/*字体颜色*/
$color999: #999;
$color777: #74767a;
$color444: #404348;
$color333: #333333;
$color000: #000;
$color-fff: #fff;
$color-blue: #09d;
$color-red: #f30;
$color-green:green;
$color-orange:orange;
$color-light-black:#323538;
/* 边框颜色 */
$border-color: 1px solid #ececed;
$text-border-color: 1px solid #d0d1d4;
$color-gray:#f8f8f9;
$color-ddd:#ddd;

/* 屏幕宽度 */
$normal-tab-width: 520px;
$min-tab-width: 440px;
$max-tab-width: 520px;

/*======字体======*/
$font-family-yahei: 'Microsoft YaHei';
//$font-family-songti: simsun;
$font-family-songti: Arial, sans-serif, "Microsoft YaHei";
$font-family-english: Arial;
$font-size-normal: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-large-18: 18px;
$font-size-large-20: 20px;
$font-size-large-24: 24px;
$font-size-large-28: 28px;
$line-height: 1.6;


